img {
  height: 200px;
  width: 300px;
}
.panel-heading {
  text-align: center;
}
.panel-body {
  text-align: center;
}
.form-group {
  width: 50%;
}
.wrapper {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}
